[Unit]
Description=Conduit Security Gateway
Documentation=https://github.com/the2dl/conduit
Wants=conduit-api.service conduit-proxy.service
After=conduit-api.service conduit-proxy.service

[Install]
WantedBy=multi-user.target
