[Unit]
Description=Conduit Security Gateway
Wants=conduit-api.service conduit-proxy.service
After=conduit-api.service conduit-proxy.service

[Install]
WantedBy=default.target
